<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.full_text}"/>
        <p> <b>Просмотры:</b> <span th:text="${el.views}"/></p>

        <a th:href="'/'+ ${el.id} +'/edit'" class="btn btn-warning">Редактировать</a></br>
        <form th:action="'/'+ ${el.id} +'/delete'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button></br>
        </form>
    </div>
</div>

</body>
</html>